.header-container {
  display: flex;
  height: 50px;
  padding: var(--spacing-small);
  background: var(--color-medium);
}

.header-counter {
  margin-left: auto;
  padding-right: var(--spacing-medium);
  font-weight: bold;
  cursor: pointer;
}
